@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<div class="container-menu-desktop">
	<!-- Topbar -->
	<div class="top-bar">
		<div class="content-topbar flex-sb-m h-full container">
			<div class="left-top-bar">
				Free shipping for standard order over $100
			</div>

			<div class="right-top-bar flex-w h-full">
				<a href="#" class="flex-c-m trans-04 p-lr-25">
					Help & FAQs
				</a>
				@if (HttpContextAccessor.HttpContext.Session.GetString("UserName")!=null)
				{
					<form asp-controller="Access" asp-action="Logout" method="post">
						<button type="submit" class="btn btn-link flex-c-m trans-04 p-lr-25">Logout</button>
					</form>
					<span class="flex-c-m trans-04 p-lr-25" style="color:white;">
						Xin chào @HttpContextAccessor.HttpContext.Session.GetString("UserName")
					</span>
					<a asp-controller="Access" asp-action="DoiMK" class="btn btn-link flex-c-m trans-04 p-lr-25">
						Đổi mật khẩu
					</a>
				}
				else
				{
					<a asp-controller="Access" asp-action="Login" class="btn btn-link flex-c-m trans-04 p-lr-25">Login</a>
				}
			</div>
		</div>
	</div>

	<div class="wrap-menu-desktop">
		<nav class="limiter-menu-desktop container">

			<!-- Logo desktop -->
			<a href="#" class="logo">
				<img src="../images/logo.jpg" alt="IMG-LOGO">
			</a>

			<!-- Menu desktop -->
			<div class="menu-desktop">
				<ul class="main-menu">
					<li>
						<a asp-controller="Home" asp-action="Index">Home</a>
					</li>

					<li>
						<a asp-controller="Home" asp-action="Shop">Shop</a>
					</li>

@*					<li class="label1" data-label1="hot">
						<a href="shoping-cart.html">Features</a>
					</li>

					<li>
						<a href="blog.html">Blog</a>
					</li>*@

					<li>
						<a asp-controller="Home" asp-action="About">About</a>
					</li>

					<li>
						<a asp-controller="Home" asp-action="Contact">Contact</a>
					</li>
				</ul>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m">



				@await Component.InvokeAsync("NumberCart")

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>
		</nav>
	</div>
</div>